<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="icon" href="/public/img/logo.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <title>任务队列</title>
    <script src="/public/vue.global.prod.js"></script>
    <script src="/public/axios.min.js"></script>
    <script src="/public/naive-ui.prod.js"></script>
    <style>
         html, body {
            font-family: Arial;
            background: #f5f5f5;
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }


        #app {
            flex: 1; /* 占据剩余空间，把 footer 顶到底部 */
        }

        footer {
            text-align: center;
            color: #ff7eb9;
            font-size: 14px;
            padding: 10px 0;
        }
    </style>
</head>
<body>
<div id="app"></div>
<footer>
    © 2025 <a href="https://github.com/Kiliwwwww/download_bot" target="_blank"
              style="color: #ff7eb9;text-decoration: none;">下载bot酱</a><br>
    power by <a href="https://github.com/hect0x7/JMComic-Crawler-Python" target="_blank"
                style="color: #ff7eb9;text-decoration: none;">hect0x7/JMComic-Crawler-Python</a>
</footer>
<script type="module">
    import {createTaskTable} from '../../public/js/components/taskTable.js'
    const {NMessageProvider} = naive
    const app = Vue.createApp({
        template: `
          <n-message-provider>
            <task-table/>
          </n-message-provider>
          `,
        components: {
            'task-table': createTaskTable(Vue, naive)
        }
    })

    app.use(naive)
    app.mount('#app')
</script>
</body>
</html>
