<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>下载bot酱</title>
    <link rel="icon" href="/public/img/logo.svg" type="image/x-icon">
    <!-- Vue 3 -->
    <script src="/public/vue.global.prod.js"></script>
    <!-- Axios -->
    <script src="/public/axios.min.js"></script>
    <!-- Naive UI -->
    <script src="/public/naive-ui.prod.js"></script>
    <style>
        html, body {
            font-family: Arial;
            background: #f5f5f5;
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
        }


        #app {
            flex: 1; /* 占据剩余空间，把 footer 顶到底部 */
        }

        footer {
            text-align: center;
            color: #ff7eb9;
            font-size: 14px;
            padding: 10px 0;
        }


    </style>
</head>
<body>
<div id="app"></div>
<footer>
    © 2025 <a href="https://github.com/Kiliwwwww/download_bot" target="_blank"
              style="color: #ff7eb9;text-decoration: none;">下载bot酱</a><br>
    power by <a href="https://github.com/hect0x7/JMComic-Crawler-Python" target="_blank"
                style="color: #ff7eb9;text-decoration: none;">hect0x7/JMComic-Crawler-Python</a>
</footer>
<script type="module">
    import {createJmListPage} from '/public/js/components/jmListPage.js'

    const {NMessageProvider} = naive
    import {themeOverrides} from '/public/js/utils/theme.js'

    const App = {
        template:
                `
                  <n-config-provider :theme-overrides="themeOverrides">
                    <n-loading-bar-provider>
                      <n-message-provider>
                        <jm_list_page/>
                      </n-message-provider>
                    </n-loading-bar-provider>
                  </n-config-provider>
                `,
        components: {
            'jm_list_page': createJmListPage(Vue, naive),
            NMessageProvider
        },
        setup() {
            return {
                themeOverrides
            }

        }
    }

    const app = Vue.createApp(App)
    app.use(naive, {
        themeOverrides
    })
    app.mount('#app')
</script>
</body>
</html>
